body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
img{
	margin-bottom: 20px;
}
