<!--The content below is only a placeholder and can be replaced.-->
<!--component html goes here -->
   <!--<a routerLink="/bot">Bot</a>
   <a routerLink="/about">About</a>-->
   <div data-rsssl="1" class="page-template page-template-portfolio-new page-template-portfolio-new-php page page-id-4076"><div class="header-wrapper">
   <header class="header center clearfix" role="banner">            
       <div style="text-align:center">
           <h1>Anil Raj</h1>
       <div class="menu-mb closed"></div>
       <nav class="headnav" role="navigation">
           <ul>
                <li id="menu-item-2902" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-2902">
                   <a routerLink="/">Home</a>
                </li>
                <li id="menu-item-2901" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2901">
                    <a routerLink="/about">About</a>
                </li>
                <li id="menu-item-4292" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-4076  menu-item-4292">
                    <a routerLink="/bot">Bot</a>
                </li>
                <li id="menu-item-2997" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2997">
                   <!--k <a routerLink="https://www.jayhafling.com/wordpress-designer/">WordPress Designer</a>-->
                </li>
                <li id="menu-item-2899" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2899">
                    <!--<a routerLink="https://www.jayhafling.com/contacts/">Contacts</a>-->
                </li>
            </ul>
        </nav>
        </div>
    </header>
    </div>
   </div>
   <router-outlet></router-outlet> 
  <!-- 
  Left and right controls -->

