body{
	    margin-right: 17%;
	    margin-left: 17%;
}
#rg_img {
    border: 1px solid #f1f1f1;
    display: inline-block;
    margin: 0 32px 0 32px;
    padding: 7px 7px 0 7px;
}
#rg {
    border: 1px solid #f1f1f1;
    display: inline-block;
    margin: 0 32px 0 32px;
    padding: 7px 7px 0 7px;
}
#rg_fbl {
    border: 1px solid #f1f1f1;
    display: inline-block;
    margin: 0 0 0 0;
    padding: 7px 7px 0 7px;
}
#rg_fbl h3{
	display: inline-block;
	margin-right: 10px;
}
#rg_fbl img{
	vertical-align: middle;
}
#rg_fbdl {
    border: 1px solid #f1f1f1;
    display: inline-block;
    margin: 0 0 0 0;
    padding: 7px 7px 0 7px;
}
#rg_fbdl h3{
	display: inline-block;
	margin-right: 10px;
}
#rg_fbdl img{
	vertical-align: middle;
}